.sign-in-logo
  padding 30px 0 5px

.encryption-text-field
  padding 0 35px

.encryption-text
  font-family 'source_sans_proregular'
  font-size 26px

.restore-text
  padding 5px 0

.create-wallet
  padding 25px 0 0

a.to-restore
  font-family 'source_sans_proregular', sans-serif
  font-size 14px
  color #29ABE2
  text-decoration none