.sign-in-logo
  padding 30px 0

.terms-subheader
  padding 20px 0
  font-size 14px

a.to-terms
  font-family 'source_sans_proregular', sans-serif
  font-size 19px
  color #29ABE2
  text-decoration none

.terms-text
  text-transform capitalize;
  padding 10px 0

.terms-accept
  padding 35px 0