// Import all partials
@require './_*.styl'
@require 'SignIn.styl'

.btn-primary
  background-color #0071BC
  width 156px
  height 36px
  .label-primary
    color #fff
    text-transform uppercase
    font-size 14px
    font-family 'source_sans_proregular', sans-serif