.init-terms-motivation {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
}

.init-terms-termsLink {
    text-align: center;
}

.init-terms-buttonContainer {
    text-align: center;
    top: 325px;
    width: 320px;
    position: absolute;
}
