@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/AlegreyaSans-Regular-webfont.eot');
  src: url('./fonts/AlegreyaSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/AlegreyaSans-Regular-webfont.woff') format('woff'),
          url('./fonts/AlegreyaSans-Regular-webfont.ttf') format('truetype'),
          url('./fonts/AlegreyaSans-Regular-webfont.svg#alegreya_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/AlegreyaSans-Bold-webfont.eot');
  src: url('./fonts/AlegreyaSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/AlegreyaSans-Bold-webfont.woff') format('woff'),
          url('./fonts/AlegreyaSans-Bold-webfont.ttf') format('truetype'),
          url('./fonts/AlegreyaSans-Bold-webfont.svg#alegreya_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('./fonts/AlegreyaSans-Medium-webfont.eot');
  src: url('./fonts/AlegreyaSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/AlegreyaSans-Medium-webfont.woff') format('woff'),
          url('./fonts/AlegreyaSans-Medium-webfont.ttf') format('truetype'),
          url('./fonts/AlegreyaSans-Medium-webfont.svg#alegreya_sansmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Regular-webfont.eot');
  src: url('./fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/SourceSansPro-Regular-webfont.woff') format('woff'),
          url('./fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
          url('./fonts/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./fonts/SourceSansPro-Semibold-webfont.eot');
  src: url('./fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
          url('./fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
          url('./fonts/SourceSansPro-Semibold-webfont.svg#source_sans_prosemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular-webfont.eot');
  src: url('./fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('./fonts/Roboto-Regular-webfont.woff') format('woff'),
          url('./fonts/Roboto-Regular-webfont.ttf') format('truetype'),
          url('./fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;

}
