:root {
    --mdc-theme-primary: #0071BC;
    --mdc-theme-accent: #29ABE2;
}

body, * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 16px;
}
